In [2]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [3]:
# The data source is from Malaysia DOSM (https://data.gov.my/data-catalogue/births)
URL_DATA = 'https://storage.data.gov.my/demography/births.parquet'

# Extract data from source
df = pd.read_parquet(URL_DATA)

#print data
print(df)

             date     state  births
0      1920-01-01  Malaysia      96
1      1920-01-02  Malaysia     115
2      1920-01-03  Malaysia     111
3      1920-01-04  Malaysia     101
4      1920-01-05  Malaysia      95
...           ...       ...     ...
37828  2023-07-27  Malaysia    1199
37829  2023-07-28  Malaysia    1220
37830  2023-07-29  Malaysia     927
37831  2023-07-30  Malaysia     938
37832  2023-07-31  Malaysia    1098

[37833 rows x 3 columns]

In [4]:
#data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37833 entries, 0 to 37832
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    37833 non-null  object
 1   state   37833 non-null  object
 2   births  37833 non-null  int64
dtypes: int64(1), object(2)
memory usage: 886.8+ KB

In [5]:
# Task 1: Based on the lesson learned previously, convert the "DATE" column data type into datetime format

#convert data type
df['date']=pd.to_datetime(df['date'])
print(df['date'])

0       1920-01-01
1       1920-01-02
2       1920-01-03
3       1920-01-04
4       1920-01-05
           ...
37828   2023-07-27
37829   2023-07-28
37830   2023-07-29
37831   2023-07-30
37832   2023-07-31
Name: date, Length: 37833, dtype: datetime64[ns]

In [6]:
# Task 2a: Extract the Month name (e.g. January/February/March etc) into another column called "MONTH_NAME"
# Then get average of births aggregate/group by MONTH_NAME
# The expected dataframe is something like this:

# |----------------|-----------|
# |MONTH_NAME      | AVG_BIRTH |
# |----------------|-----------|
# |JANUARY XXX     |           |
# |FEBRUARY XXX    |           |
# |MARCH XXX       |           |
#   .....           

#add column MONTH_NAME, extract month_name
df['MONTH_NAME']=df['date'].dt.month_name()

#new df_month groupby by MONTH_NAME and aggregate AVG_BIRTH
df_month = df.groupby(['MONTH_NAME'])\
                .agg(
                    AVG_BIRTH = ('births', 'mean')
                )\
                .reset_index()

#round AVG_BIRTH
df_month['AVG_BIRTH'] = round(df_month ['AVG_BIRTH'],2)

#print df_month
df_month

   MONTH_NAME  AVG_BIRTH
0       April     945.39
1      August     951.49
2    December     951.10
3    February     904.98
4     January     928.12
5        July     946.09
6        June     960.35
7       March     926.43
8         May     959.32
9    November     963.22
10    October     985.88
11  September     981.74

In [7]:
# Task 2b: Save the aggregated dataframe in task 2a above into CSV file without index (index=False) in the same folder as this file
# The filename shall be your nickname + _avg_birth_by_month.csv
# Example: azhar_avg_birth_by_month.csv
# No space is allowed. But make sure your nickname is recognizable for evaluation.

#export to csv
df_month.to_csv('umar_avg_birth_by_month.csv',index=False)

In [8]:
# Task 3a: Create a dataframe to calculate average birth by the following generation group:
# --> Silent Generation - from 1928 to 1945 included
# --> Baby Boomers - from 1946 to 1964 included
# --> Gen X - from 1965 to 1980 included
# --> Gen Y - from 1981 to 1996 included
# The expected dataframe is something like this:

# |----------------|-----------|
# |GENERATION      | AVG_BIRTH |
# |----------------|-----------|
# |Gen X           |           |
# |Gen Y           |           |
# ......

# Hint: Use for-loop and if/else


#add column year, extract year from date
df['year'] = df['date'].dt.year

#for loop i as for index, x is for year in df. use enumerate
for i, x in enumerate(df['year']):
    if (x >= 1928) & (x <= 1945):
        df.loc[i, ['GENERATION']] = 'Silent Generation'
    elif (x >= 1946) & (x <= 1964):
        df.loc[i, ['GENERATION']] = 'Baby Boomers'
    elif (x >= 1965) & (x <= 1980):
        df.loc[i, ['GENERATION']] = 'Gen X'
    elif (x >= 1981) & (x <= 1996):
        df.loc[i, ['GENERATION']] = 'Gen Y'
    elif (x >= 1996):
        df.loc[i, ['GENERATION']] = 'Gen Z'
    else:
        df.loc[i, ['GENERATION']] = 'Unknown Gen'

In [9]:
print (df.sample(10))

            date     state  births MONTH_NAME  year         GENERATION
11035 1950-03-19  Malaysia     529      March  1950       Baby Boomers
9077  1944-11-07  Malaysia     382   November  1944  Silent Generation
17527 1967-12-27  Malaysia     770   December  1967              Gen X
2132  1925-11-02  Malaysia     135   November  1925        Unknown Gen
7845  1941-06-24  Malaysia     343       June  1941  Silent Generation
30832 2004-05-31  Malaysia    1415        May  2004              Gen Z
31082 2005-02-05  Malaysia    1208   February  2005              Gen Z
27730 1995-12-03  Malaysia    1430   December  1995              Gen Y
29293 2000-03-14  Malaysia    1635      March  2000              Gen Z
20197 1975-04-19  Malaysia    1000      April  1975              Gen X

In [10]:
# Task 3b: Save the aggregated dataframe in task 3a above into CSV file without index (index=False) in the same folder as this file
# The filename shall be your nickname + _avg_birth_by_generation.csv
# Example: azhar_avg_birth_by_generation.csv
# No space is allowed. But make sure your nickname is recognizable for evaluation.

## create df_gen agg
df_gen = df.groupby(['GENERATION'])\
                .agg(
                    AVG_BIRTH = ('births', 'mean')
                )\
                .reset_index()

df_gen['AVG_BIRTH'] = round(df_gen['AVG_BIRTH'], 2)

In [11]:
df_gen

          GENERATION  AVG_BIRTH
0       Baby Boomers     764.40
1              Gen X    1057.83
2              Gen Y    1417.43
3              Gen Z    1407.64
4  Silent Generation     319.76
5        Unknown Gen     144.21

In [12]:
## export to csv files
df_gen.to_csv('umar_avg_birth_by_generation.csv',index=False)