In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [2]:
# The data source is from Malaysia DOSM (https://data.gov.my/data-catalogue/births)
URL_DATA = 'https://storage.data.gov.my/demography/births.parquet'

# Extract data from source
df = pd.read_parquet(URL_DATA)

print(df)

             date     state  births
0      1920-01-01  Malaysia      96
1      1920-01-02  Malaysia     115
2      1920-01-03  Malaysia     111
3      1920-01-04  Malaysia     101
4      1920-01-05  Malaysia      95
...           ...       ...     ...
37828  2023-07-27  Malaysia    1199
37829  2023-07-28  Malaysia    1220
37830  2023-07-29  Malaysia     927
37831  2023-07-30  Malaysia     938
37832  2023-07-31  Malaysia    1098

[37833 rows x 3 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37833 entries, 0 to 37832
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    37833 non-null  object
 1   state   37833 non-null  object
 2   births  37833 non-null  int64
dtypes: int64(1), object(2)
memory usage: 886.8+ KB

In [4]:
# Task 1: Based on the lesson learned previously, convert the "DATE" column data type into datetime format
df['date']=pd.to_datetime(df['date'])

print(df['date'])

0       1920-01-01
1       1920-01-02
2       1920-01-03
3       1920-01-04
4       1920-01-05
           ...
37828   2023-07-27
37829   2023-07-28
37830   2023-07-29
37831   2023-07-30
37832   2023-07-31
Name: date, Length: 37833, dtype: datetime64[ns]

In [5]:
# Task 2a: Extract the Month name (e.g. January/February/March etc) into another column called "MONTH_NAME"
# Then get average of births aggregate/group by MONTH_NAME
# The expected dataframe is something like this:

# |----------------|-----------|
# |MONTH_NAME      | AVG_BIRTH |
# |----------------|-----------|
# |JANUARY XXX     |           |
# |FEBRUARY XXX    |           |
# |MARCH XXX       |           |
#   .....           
df['MONTH_NAME']=df['date'].dt.month_name()

df_month = df \
                .groupby(['MONTH_NAME'])\
                .agg(
                    AVG_BIRTH = ('births', 'mean')
                )\
                .reset_index()

df_month['AVG_BIRTH'] = round(df_month ['AVG_BIRTH'],2)

df_month

   MONTH_NAME  AVG_BIRTH
0       April     945.39
1      August     951.49
2    December     951.10
3    February     904.98
4     January     928.12
5        July     946.09
6        June     960.35
7       March     926.43
8         May     959.32
9    November     963.22
10    October     985.88
11  September     981.74

In [ ]:
# Task 2b: Save the aggregated dataframe in task 2a above into CSV file without index (index=False) in the same folder as this file
# The filename shall be your nickname + _avg_birth_by_month.csv
# Example: azhar_avg_birth_by_month.csv
# No space is allowed. But make sure your nickname is recognizable for evaluation.

df_month.to_csv('umarzahirun_avg_birth_by_month.csv',index=False)

In [6]:
# Task 3a: Create a dataframe to calculate average birth by the following generation group:
# --> Silent Generation - from 1928 to 1945 included
# --> Baby Boomers - from 1946 to 1964 included
# --> Gen X - from 1965 to 1980 included
# --> Gen Y - from 1981 to 1996 included
# The expected dataframe is something like this:

# |----------------|-----------|
# |GENERATION      | AVG_BIRTH |
# |----------------|-----------|
# |Gen X           |           |
# |Gen Y           |           |
# ......

# Hint: Use for-loop and if/else

df['year'] = df['date'].dt.year


for x in df['year']:
    if 1964 > x > 1946:
        filtered_df = df.loc[(df['year'] >= 1928) & (df['year'] < 1945)]
        print (filtered_df.sample(5))


        
    #elif 1946<=x<=1964:
        #df['GENERATION'] = 'Baby Boomers'
    #elif 1965<=x<=1980:
        #df['GENERATION'] = 'Gen X'
    #elif 1981<=x<=1996:
        #df['GENERATION'] = 'Gen Y'

    
##    if '31/12/1964' > x > '01/01/1946':
##        print ("BabyBoomers")

           date     state  births MONTH_NAME  year
5084 1933-12-02  Malaysia     278   December  1933
6105 1936-09-18  Malaysia     357  September  1936
8222 1942-07-06  Malaysia     461       July  1942
6231 1937-01-22  Malaysia     205    January  1937
4195 1931-06-27  Malaysia     245       June  1931
           date     state  births MONTH_NAME  year
8661 1943-09-18  Malaysia     408  September  1943
6230 1937-01-21  Malaysia     244    January  1937
4076 1931-02-28  Malaysia     348   February  1931
3725 1930-03-14  Malaysia     200      March  1930
5190 1934-03-18  Malaysia     273      March  1934
           date     state  births MONTH_NAME  year
6699 1938-05-05  Malaysia     429        May  1938
7681 1941-01-11  Malaysia     349    January  1941
6803 1938-08-17  Malaysia     439     August  1938
6126 1936-10-09  Malaysia     394    October  1936
6386 1937-06-26  Malaysia     372       June  1937
           date     state  births MONTH_NAME  year
2982 1928-03-01  Malaysia     209      March  1928
4667 1932-10-11  Malaysia     237    October  1932
5269 1934-06-05  Malaysia     307       June  1934
3887 1930-08-23  Malaysia     224     August  1930
7272 1939-11-29  Malaysia     346   November  1939
           date     state  births MONTH_NAME  year
7174 1939-08-23  Malaysia     346     August  1939
7502 1940-07-16  Malaysia     360       July  1940
3432 1929-05-25  Malaysia     261        May  1929
3078 1928-06-05  Malaysia     214       June  1928
5390 1934-10-04  Malaysia     300    October  1934
           date     state  births MONTH_NAME  year
3659 1930-01-07  Malaysia     160    January  1930
5311 1934-07-17  Malaysia     294       July  1934
3460 1929-06-22  Malaysia     302       June  1929
5347 1934-08-22  Malaysia     283     August  1934
7438 1940-05-13  Malaysia     350        May  1940
           date     state  births MONTH_NAME  year
6625 1938-02-20  Malaysia     265   February  1938
3464 1929-06-26  Malaysia     292       June  1929
8126 1942-04-01  Malaysia     403      April  1942
3753 1930-04-11  Malaysia     220      April  1930
7794 1941-05-04  Malaysia     408        May  1941
           date     state  births MONTH_NAME  year
8763 1943-12-29  Malaysia     393   December  1943
8258 1942-08-11  Malaysia     409     August  1942
3241 1928-11-15  Malaysia     262   November  1928
5600 1935-05-02  Malaysia     328        May  1935
3317 1929-01-30  Malaysia     197    January  1929
           date     state  births MONTH_NAME  year
3448 1929-06-10  Malaysia     238       June  1929
5118 1934-01-05  Malaysia     256    January  1934
4332 1931-11-11  Malaysia     254   November  1931
8015 1941-12-11  Malaysia     324   December  1941
4708 1932-11-21  Malaysia     223   November  1932
           date     state  births MONTH_NAME  year
6061 1936-08-05  Malaysia     321     August  1936
5265 1934-06-01  Malaysia     289       June  1934
6172 1936-11-24  Malaysia     352   November  1936
4757 1933-01-09  Malaysia     243    January  1933
5009 1933-09-18  Malaysia     242  September  1933
           date     state  births MONTH_NAME  year
3318 1929-01-31  Malaysia     254    January  1929
4875 1933-05-07  Malaysia     246        May  1933
8990 1944-08-12  Malaysia     369     August  1944
8337 1942-10-29  Malaysia     350    October  1942
8103 1942-03-09  Malaysia     281      March  1942
           date     state  births MONTH_NAME  year
4096 1931-03-20  Malaysia     241      March  1931
7382 1940-03-18  Malaysia     322      March  1940
6622 1938-02-17  Malaysia     269   February  1938
6439 1937-08-18  Malaysia     323     August  1937
4084 1931-03-08  Malaysia     194      March  1931
           date     state  births MONTH_NAME  year
4219 1931-07-21  Malaysia     257       July  1931
7880 1941-07-29  Malaysia     308       July  1941
4400 1932-01-18  Malaysia     217    January  1932
3257 1928-12-01  Malaysia     249   December  1928
6114 1936-09-27  Malaysia     334  September  1936
           date     state  births MONTH_NAME  year
5749 1935-09-28  Malaysia     365  September  1935
8079 1942-02-13  Malaysia     238   February  1942
7392 1940-03-28  Malaysia     334      March  1940
3753 1930-04-11  Malaysia     220      April  1930
5094 1933-12-12  Malaysia     379   December  1933
           date     state  births MONTH_NAME  year
8278 1942-08-31  Malaysia     353     August  1942
8689 1943-10-16  Malaysia     415    October  1943
7966 1941-10-23  Malaysia     333    October  1941
6104 1936-09-17  Malaysia     347  September  1936
6424 1937-08-03  Malaysia     390     August  1937
           date     state  births MONTH_NAME  year
3120 1928-07-17  Malaysia     222       July  1928
8298 1942-09-20  Malaysia     438  September  1942
3495 1929-07-27  Malaysia     299       July  1929
6876 1938-10-29  Malaysia     403    October  1938
2941 1928-01-20  Malaysia     156    January  1928
           date     state  births MONTH_NAME  year
7523 1940-08-06  Malaysia     346     August  1940
3811 1930-06-08  Malaysia     230       June  1930
7540 1940-08-23  Malaysia     355     August  1940
4624 1932-08-29  Malaysia     167     August  1932
7208 1939-09-26  Malaysia     334  September  1939
           date     state  births MONTH_NAME  year
5819 1935-12-07  Malaysia     404   December  1935
8451 1943-02-20  Malaysia     431   February  1943
5214 1934-04-11  Malaysia     303      April  1934
5731 1935-09-10  Malaysia     299  September  1935
8363 1942-11-24  Malaysia     330   November  1942
           date     state  births MONTH_NAME  year
4062 1931-02-14  Malaysia     188   February  1931
5165 1934-02-21  Malaysia     227   February  1934
5098 1933-12-16  Malaysia     283   December  1933
5980 1936-05-16  Malaysia     347        May  1936
3394 1929-04-17  Malaysia     257      April  1929
           date     state  births MONTH_NAME  year
6735 1938-06-10  Malaysia     415       June  1938
8355 1942-11-16  Malaysia     384   November  1942
8345 1942-11-06  Malaysia     412   November  1942
4175 1931-06-07  Malaysia     234       June  1931
6547 1937-12-04  Malaysia     354   December  1937
           date     state  births MONTH_NAME  year
6931 1938-12-23  Malaysia     490   December  1938
5061 1933-11-09  Malaysia     282   November  1933
3095 1928-06-22  Malaysia     210       June  1928
4893 1933-05-25  Malaysia     269        May  1933
8377 1942-12-08  Malaysia     395   December  1942
           date     state  births MONTH_NAME  year
8244 1942-07-28  Malaysia     477       July  1942
8333 1942-10-25  Malaysia     438    October  1942
8253 1942-08-06  Malaysia     415     August  1942
5437 1934-11-20  Malaysia     295   November  1934
8043 1942-01-08  Malaysia     295    January  1942
           date     state  births MONTH_NAME  year
7614 1940-11-05  Malaysia     400   November  1940
5017 1933-09-26  Malaysia     246  September  1933
7592 1940-10-14  Malaysia     379    October  1940
7088 1939-05-29  Malaysia     346        May  1939
3138 1928-08-04  Malaysia     218     August  1928
           date     state  births MONTH_NAME  year
8086 1942-02-20  Malaysia     363   February  1942
4525 1932-05-22  Malaysia     178        May  1932
6837 1938-09-20  Malaysia     436  September  1938
5139 1934-01-26  Malaysia     244    January  1934
5027 1933-10-06  Malaysia     288    October  1933
           date     state  births MONTH_NAME  year
7612 1940-11-03  Malaysia     412   November  1940
7029 1939-03-31  Malaysia     351      March  1939
4678 1932-10-22  Malaysia     168    October  1932
7962 1941-10-19  Malaysia     391    October  1941
4096 1931-03-20  Malaysia     241      March  1931
           date     state  births MONTH_NAME  year
8618 1943-08-06  Malaysia     420     August  1943
6284 1937-03-16  Malaysia     290      March  1937
6325 1937-04-26  Malaysia     277      April  1937
3919 1930-09-24  Malaysia     170  September  1930
7521 1940-08-04  Malaysia     341     August  1940
           date     state  births MONTH_NAME  year
3822 1930-06-19  Malaysia     227       June  1930
4590 1932-07-26  Malaysia     222       July  1932
5668 1935-07-09  Malaysia     245       July  1935
5449 1934-12-02  Malaysia     301   December  1934
8830 1944-03-05  Malaysia     365      March  1944
           date     state  births MONTH_NAME  year
7946 1941-10-03  Malaysia     411    October  1941
4958 1933-07-29  Malaysia     198       July  1933
6241 1937-02-01  Malaysia     307   February  1937
6944 1939-01-05  Malaysia     327    January  1939
6702 1938-05-08  Malaysia     399        May  1938
           date     state  births MONTH_NAME  year
5953 1936-04-19  Malaysia     320      April  1936
3078 1928-06-05  Malaysia     214       June  1928
8313 1942-10-05  Malaysia     468    October  1942
6481 1937-09-29  Malaysia     324  September  1937
4350 1931-11-29  Malaysia     281   November  1931
           date     state  births MONTH_NAME  year
3481 1929-07-13  Malaysia     283       July  1929
7520 1940-08-03  Malaysia     367     August  1940
3765 1930-04-23  Malaysia     157      April  1930
7877 1941-07-26  Malaysia     373       July  1941
8914 1944-05-28  Malaysia     317        May  1944
           date     state  births MONTH_NAME  year
8046 1942-01-11  Malaysia     244    January  1942
5673 1935-07-14  Malaysia     338       July  1935
5316 1934-07-22  Malaysia     269       July  1934
8331 1942-10-23  Malaysia     357    October  1942
6384 1937-06-24  Malaysia     281       June  1937
           date     state  births MONTH_NAME  year
8487 1943-03-28  Malaysia     346      March  1943
7922 1941-09-09  Malaysia     333  September  1941
8139 1942-04-14  Malaysia     335      April  1942
9037 1944-09-28  Malaysia     375  September  1944
7429 1940-05-04  Malaysia     441        May  1940
           date     state  births MONTH_NAME  year
8391 1942-12-22  Malaysia     380   December  1942
8362 1942-11-23  Malaysia     389   November  1942
3939 1930-10-14  Malaysia     237    October  1930
3827 1930-06-24  Malaysia     211       June  1930
8488 1943-03-29  Malaysia     313      March  1943
           date     state  births MONTH_NAME  year
5851 1936-01-08  Malaysia     278    January  1936
6190 1936-12-12  Malaysia     501   December  1936
3478 1929-07-10  Malaysia     292       July  1929
3290 1929-01-03  Malaysia     228    January  1929
6997 1939-02-27  Malaysia     291   February  1939
           date     state  births MONTH_NAME  year
3284 1928-12-28  Malaysia     340   December  1928
5151 1934-02-07  Malaysia     267   February  1934
4727 1932-12-10  Malaysia     235   December  1932
4125 1931-04-18  Malaysia     254      April  1931
4634 1932-09-08  Malaysia     210  September  1932
           date     state  births MONTH_NAME  year
7644 1940-12-05  Malaysia     420   December  1940
3561 1929-10-01  Malaysia     247    October  1929
7854 1941-07-03  Malaysia     365       July  1941
7455 1940-05-30  Malaysia     322        May  1940
6812 1938-08-26  Malaysia     368     August  1938
           date     state  births MONTH_NAME  year
3343 1929-02-25  Malaysia     158   February  1929
8855 1944-03-30  Malaysia     332      March  1944
6877 1938-10-30  Malaysia     449    October  1938
7527 1940-08-10  Malaysia     454     August  1940
6537 1937-11-24  Malaysia     314   November  1937
           date     state  births MONTH_NAME  year
6146 1936-10-29  Malaysia     280    October  1936
5038 1933-10-17  Malaysia     246    October  1933
8791 1944-01-26  Malaysia     340    January  1944
8027 1941-12-23  Malaysia     311   December  1941
4940 1933-07-11  Malaysia     297       July  1933
           date     state  births MONTH_NAME  year
3787 1930-05-15  Malaysia     187        May  1930
4851 1933-04-13  Malaysia     300      April  1933
4782 1933-02-03  Malaysia     252   February  1933
3420 1929-05-13  Malaysia     245        May  1929
3905 1930-09-10  Malaysia     217  September  1930
           date     state  births MONTH_NAME  year
7800 1941-05-10  Malaysia     487        May  1941
2948 1928-01-27  Malaysia     155    January  1928
7589 1940-10-11  Malaysia     370    October  1940
5587 1935-04-19  Malaysia     294      April  1935
8339 1942-10-31  Malaysia     423    October  1942
           date     state  births MONTH_NAME  year
8417 1943-01-17  Malaysia     329    January  1943
5639 1935-06-10  Malaysia     328       June  1935
7596 1940-10-18  Malaysia     389    October  1940
3959 1930-11-03  Malaysia     220   November  1930
9085 1944-11-15  Malaysia     505   November  1944
           date     state  births MONTH_NAME  year
6982 1939-02-12  Malaysia     310   February  1939
8995 1944-08-17  Malaysia     355     August  1944
8482 1943-03-23  Malaysia     321      March  1943
5759 1935-10-08  Malaysia     273    October  1935
8453 1943-02-22  Malaysia     339   February  1943
           date     state  births MONTH_NAME  year
6224 1937-01-15  Malaysia     224    January  1937
6283 1937-03-15  Malaysia     257      March  1937
8377 1942-12-08  Malaysia     395   December  1942
7511 1940-07-25  Malaysia     362       July  1940
6235 1937-01-26  Malaysia     248    January  1937
           date     state  births MONTH_NAME  year
7924 1941-09-11  Malaysia     381  September  1941
8630 1943-08-18  Malaysia     394     August  1943
7917 1941-09-04  Malaysia     373  September  1941
3592 1929-11-01  Malaysia     330   November  1929
7597 1940-10-19  Malaysia     367    October  1940
           date     state  births MONTH_NAME  year
7656 1940-12-17  Malaysia     341   December  1940
4699 1932-11-12  Malaysia     224   November  1932
3896 1930-09-01  Malaysia     223  September  1930
4494 1932-04-21  Malaysia     213      April  1932
3643 1929-12-22  Malaysia     282   December  1929
           date     state  births MONTH_NAME  year
6908 1938-11-30  Malaysia     521   November  1938
3771 1930-04-29  Malaysia     190      April  1930
5244 1934-05-11  Malaysia     383        May  1934
6750 1938-06-25  Malaysia     325       June  1938
7574 1940-09-26  Malaysia     340  September  1940
           date     state  births MONTH_NAME  year
3210 1928-10-15  Malaysia     188    October  1928
6603 1938-01-29  Malaysia     243    January  1938
5653 1935-06-24  Malaysia     273       June  1935
4986 1933-08-26  Malaysia     238     August  1933
3145 1928-08-11  Malaysia     182     August  1928
           date     state  births MONTH_NAME  year
7659 1940-12-20  Malaysia     498   December  1940
8411 1943-01-11  Malaysia     393    January  1943
7467 1940-06-11  Malaysia     349       June  1940
8853 1944-03-28  Malaysia     390      March  1944
8426 1943-01-26  Malaysia     352    January  1943
           date     state  births MONTH_NAME  year
3799 1930-05-27  Malaysia     178        May  1930
6948 1939-01-09  Malaysia     347    January  1939
6654 1938-03-21  Malaysia     330      March  1938
6118 1936-10-01  Malaysia     355    October  1936
7757 1941-03-28  Malaysia     349      March  1941
           date     state  births MONTH_NAME  year
3684 1930-02-01  Malaysia     197   February  1930
5305 1934-07-11  Malaysia     335       July  1934
4035 1931-01-18  Malaysia     215    January  1931
8147 1942-04-22  Malaysia     292      April  1942
4962 1933-08-02  Malaysia     269     August  1933
           date     state  births MONTH_NAME  year
3535 1929-09-05  Malaysia     279  September  1929
3006 1928-03-25  Malaysia     127      March  1928
2982 1928-03-01  Malaysia     209      March  1928
3232 1928-11-06  Malaysia     255   November  1928
8711 1943-11-07  Malaysia     465   November  1943
           date     state  births MONTH_NAME  year
8057 1942-01-22  Malaysia     199    January  1942
8347 1942-11-08  Malaysia     437   November  1942
6932 1938-12-24  Malaysia     452   December  1938
6357 1937-05-28  Malaysia     216        May  1937
7670 1940-12-31  Malaysia    2367   December  1940
           date     state  births MONTH_NAME  year
5774 1935-10-23  Malaysia     181    October  1935
8873 1944-04-17  Malaysia     357      April  1944
8835 1944-03-10  Malaysia     505      March  1944
5866 1936-01-23  Malaysia     241    January  1936
4846 1933-04-08  Malaysia     240      April  1933
           date     state  births MONTH_NAME  year
5808 1935-11-26  Malaysia     270   November  1935
6944 1939-01-05  Malaysia     327    January  1939
7049 1939-04-20  Malaysia     524      April  1939
6723 1938-05-29  Malaysia     343        May  1938
5621 1935-05-23  Malaysia     308        May  1935
           date     state  births MONTH_NAME  year
7007 1939-03-09  Malaysia     343      March  1939
3221 1928-10-26  Malaysia     234    October  1928
3996 1930-12-10  Malaysia     251   December  1930
5163 1934-02-19  Malaysia     199   February  1934
6132 1936-10-15  Malaysia     306    October  1936
           date     state  births MONTH_NAME  year
8313 1942-10-05  Malaysia     468    October  1942
3890 1930-08-26  Malaysia     230     August  1930
8556 1943-06-05  Malaysia     476       June  1943
7956 1941-10-13  Malaysia     417    October  1941
3230 1928-11-04  Malaysia     196   November  1928
           date     state  births MONTH_NAME  year
3239 1928-11-13  Malaysia     215   November  1928
5128 1934-01-15  Malaysia     235    January  1934
6563 1937-12-20  Malaysia     410   December  1937
7072 1939-05-13  Malaysia     397        May  1939
7330 1940-01-26  Malaysia     284    January  1940
           date     state  births MONTH_NAME  year
7040 1939-04-11  Malaysia     383      April  1939
3885 1930-08-21  Malaysia     190     August  1930
6895 1938-11-17  Malaysia     383   November  1938
6933 1938-12-25  Malaysia     271   December  1938
4945 1933-07-16  Malaysia     187       July  1933
           date     state  births MONTH_NAME  year
8158 1942-05-03  Malaysia     360        May  1942
7511 1940-07-25  Malaysia     362       July  1940
6981 1939-02-11  Malaysia     264   February  1939
4415 1932-02-02  Malaysia     195   February  1932
6904 1938-11-26  Malaysia     409   November  1938
           date     state  births MONTH_NAME  year
9021 1944-09-12  Malaysia     366  September  1944
3204 1928-10-09  Malaysia     215    October  1928
8979 1944-08-01  Malaysia     467     August  1944
3582 1929-10-22  Malaysia     203    October  1929
6762 1938-07-07  Malaysia     437       July  1938
           date     state  births MONTH_NAME  year
8788 1944-01-23  Malaysia     317    January  1944
5614 1935-05-16  Malaysia     331        May  1935
3219 1928-10-24  Malaysia     208    October  1928
7825 1941-06-04  Malaysia     334       June  1941
8836 1944-03-11  Malaysia     346      March  1944
           date     state  births MONTH_NAME  year
5104 1933-12-22  Malaysia     286   December  1933
8314 1942-10-06  Malaysia     368    October  1942
8729 1943-11-25  Malaysia     426   November  1943
6122 1936-10-05  Malaysia     470    October  1936
5884 1936-02-10  Malaysia     294   February  1936
           date     state  births MONTH_NAME  year
7144 1939-07-24  Malaysia     371       July  1939
3732 1930-03-21  Malaysia     181      March  1930
7432 1940-05-07  Malaysia     391        May  1940
5828 1935-12-16  Malaysia     379   December  1935
5482 1935-01-04  Malaysia     361    January  1935
           date     state  births MONTH_NAME  year
5599 1935-05-01  Malaysia     124        May  1935
6607 1938-02-02  Malaysia     317   February  1938
6757 1938-07-02  Malaysia     326       July  1938
7035 1939-04-06  Malaysia     388      April  1939
4817 1933-03-10  Malaysia     232      March  1933
           date     state  births MONTH_NAME  year
6738 1938-06-13  Malaysia     373       June  1938
3230 1928-11-04  Malaysia     196   November  1928
3743 1930-04-01  Malaysia     195      April  1930
4439 1932-02-26  Malaysia     160   February  1932
5068 1933-11-16  Malaysia     306   November  1933
           date     state  births MONTH_NAME  year
3575 1929-10-15  Malaysia     243    October  1929

In [ ]:
# Task 3b: Save the aggregated dataframe in task 3a above into CSV file without index (index=False) in the same folder as this file
# The filename shall be your nickname + _avg_birth_by_generation.csv
# Example: azhar_avg_birth_by_generation.csv
# No space is allowed. But make sure your nickname is recognizable for evaluation.

...